@media #{$large} {
  .new.project-card {
    .icon-cloud-upload {
      margin-top: 50px;
    }
  }
}



@media #{$medium} {

  .chart.numeric h4 {
    font-size: 15px;
  }
  .new.project-card {
    .headline {
      font-size: 20px;
      margin-top: 15px;
    }
  }
  .dropzone .headline {
    margin-top: 0.8em;
    font-size: 2.5em;
  }

}

@media #{$medium-small} {
  .home-hero {
    text-align: center;
    .lead {
      margin: 0 auto 1.2em;
    }
    .sign-up-button {
      margin: 0 auto 1em;
    }
  }
  .reasons {
    text-align: center;
    h3 { margin-top: 1em !important; }
    .large-3 {
      img, i { margin-bottom: 0 !important; }
    }
    p, pre { max-width: 30em; margin: 0 auto 1.7em; }
  }

  header nav .navlink { display: none !important; }

  .project-card .date, .project-card .status {
    font-size: 10px;
  }
  .new-deploy {
    width: 100%;
    .new.project-card {
      .icon-cloud-upload {
        font-size: 90px;
        margin-top: 40px;
      }
      .headline {
        margin-top: 10px;
        font-size: 16px;
        padding: 0 24px;
      }
      .spacer { width: 100%; max-width: 175px; }
    }
  }

}



@media #{$small} {
  header nav .navlink { display: none !important; }
  body { padding: 0 }
  header .logo { height: 1em; }
  .main { padding: 0; margin: 0; }
  .sheet{
    width: 100%;
    margin: 24px 0;
    padding: 10px;
  }

  .sky {
    padding-bottom: 4em;
  }

  .dropzone .headline {
    margin-top: 0.7em;
    font-size: 2em;
  }

  .new-deploy {
    .new.project-card {
      .spacer { width: 100px; }
      .headline { font-size: 16px; }
    }
  }

}



