{{> header }}

  <div class="main blog">
    <section class="sheet">
      <div class="row">

        <div class="columns large-12 ">

          <div class="posts">

            {{#recent_posts}}
            <article>
              <header>
                <h2 class="entry-title text-center"><a href="{{ permalink }}">{{{ title }}}</a></h2>

                <p class="entry-meta">
                  Written by {{author}} on
                  <time class="updated" datetime="{{#iso_date}}{{ published_date }}{{/iso_date}}" pubdate>{{#long_date}}{{published_date}}{{/long_date}}</time>
                </p>
              </header>

              <div class="entry-content">
                <hr/>
                {{{ content }}}


                {{#is_teaser}}
                <div>
                  <a href="{{ permalink }}" class="more">More »</a>
                </div>
                {{/is_teaser}}

              </div>

            </article>
            {{/recent_posts}}

          </div>
        </div>

      </div>
    </section>
  </div>

{{> footer }}