
    <div class="row">
      <div class="large-12 columns">
        <footer class="text-center">
          <ul class="inline-list inline-blocks">
          {{#footer-navbar}}
            <li><a href="{{{href}}}">{{label}}</a>
          {{/footer-navbar}}
          </ul>
        </footer>
      </div>
    </div>

    <script src="https://login.persona.org/include.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <script src="https://es.webpop.com/es.js"></script>

    {{#javascript_bundle}}/js/all.js{{/javascript_bundle}}

    <script src="/foundation/js/foundation/foundation.reveal.js"></script>

    <script>$(document).foundation();</script>
  </body>
</html>