<!DOCTYPE HTML>
<html>
  <head>
    <title>BitBalloon - Static hosting for the programmable web</title>
		{{#stylesheet_bundle}}/css/all.css{{/stylesheet_bundle}}
  </head>
  <body>
    <script>
    (function() { var i = document.createElement("input"); i.setAttribute("type", "file"); if (i.webkitEntries) { document.body.classList.add("folder-support"); }
    })();
    </script>
    <header>
      <div class="row">
        <div class="large-5 medium-7 columns">
          <h1 class="brand"><a href="/"><img class="logo" src="/img/bitballoon-logo.svg" alt="BitBalloon logo"/></a><div class="claim">Static hosting for the programmable web</div></h1>
        </div>
        <div class="large-7 medium-5 columns">
          <nav class="show-for-medium-up">
            <ul class="inline-list inline-blocks right main-nav">
            {{#navbar}}
              <li><a href="{{{href}}}">{{label}}</a>
            {{/navbar}}
              <li>
                <div class="auth">
                  <a href="#" id="login-button" class="login-button">Sign in</a>
                  <div class="dropdown login-dropdown">
                    <a href="#" id="logout-button" class="dropdown-trigger user-name">Logged in</a>
                    <ul>
                      <li><a href="/sites">Your sites</a></li>
                      <li><a href="#" class="logout-button">Logout</a></li>
                    </ul>
                  </div>
                </div>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </header>

