{{> header }}

<div class="main features-page">
  <section class="sheet">
    <div class="row ">
      <header>
          <h1 class="text-center">Feature packed deployments</h1>
          <h3 class="light text-center">Powering web publishing for businesses of all sizes</h3>
          <hr/>
      </header>
    </div>

      <section class="feature-rows">
        <div class="row">

          <div class="large-6 columns">

            <i class="icon-cloud-upload"></i>
            <h3>One Step Publishing</h3>
            <p>BitBalloon automates the process of publishing to the web in a highly optimized way. Instead of dealing with FTP and build scripts, you just drag & drop or a make single API call. </p>

          </div>

          <div class="large-6 columns">

            <i class="icon-rocket"></i>
            <h3>Web Performance</h3>
            <p>BitBalloon automates web performance best practices. It minifies and bundles CSS & JS, does lossless image compression, manages caching and CDN integration.</p>

          </div>

        </div>
        <div class="row">

          <div class="large-6 columns">

            <i class="icon-form"></i>
            <h3>Process Forms</h3>
            <p>BitBalloon makes your forms work. Data export, email notifications, and web hooks will get you capturing leads in seconds.</p>

          </div>

          <div class="large-6 columns">

            <i class="icon-versions"></i>
            <h3>Versioning</h3>
            <p>BitBalloon keeps a complete version history of all your deploys so you can rollback to any of them at any time.</p>

          </div>

        </div>
        <div class="row">

          <div class="large-6 columns">

            <i class="icon-globe"></i>
            <h3>Custom Domains</h3>
            <p>Manage DNS and set custom domains for your sites.</p>
          </div>

          <div class="large-6 columns">

            <i class="icon-user"></i>
            <h3>Single Sign On</h3>
            <p>Authenticate your users to publish with BitBalloon.</p>
          </div>

        </div>
        <div class="row">

          <div class="large-6 columns">

            <i class="icon-inject"></i>
            <h3>Inject Snippets</h3>
            <p>Integrate with 3rd party scripts in seconds with global snippet injection.</p>

          </div>

          <div class="large-6 columns">

            <i class="icon-unlocked"></i>
            <h3>Password Protect</h3>
            <p>Keep your sites private by controlling access with secure passwords.</p>

          </div>

        </div>

        <hr/>

        <div class="row major">
          <div class="large-8 large-centered columns">
            <p class="text-center"><i class="icon-code" ></i></p>
            <h2 class="text-center">100% Programmable</h2>
            <p>All of BitBalloon can be controlled with the <a href="docs/api">API</a>. Use it to publish and manage sites with external applications. If you'd like to use BitBalloon as a publishing engine for your own app or service, check out our <a href="/partner">partner</a> options.</p>
          </div>
        </div>
      </section>

    </div>

    <div class="row">
      <div class="large-12 columns">
        <h2 class="text-center light">
          What are you waiting for?
        </h2>
      </div>
    </div>
    <div class="row">
      <div class="large-6 large-centered columns">
        <div class="dashed-box">
          <div class="cta">
            <div class="row">
              <div>
                <h3 class="headline text-center">Drag your <span class="folder-support">site folder</span><span class="no-folder-support">site zip</span> here</h3>
              </div>
                <i class="icon-cloud-icon redeploy-cloud"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

  </section>
</div>

{{>footer}}