{{> header }}

<div class="main features-page">
  <section class="sheet">
    <div class="row ">
      <header>
          <h1>Feature packed deployments</h1>
          <h3>A suite of features to powers static sites for businesses of all sizes</h3>
      </header>
    </div>

      <section class="feature-rows row">

        <div class="large-6 columns">

          <div class="row">
            <div class="large-3 columns">
              <i class="icon-cloud-upload"></i>
            </div>
            <div class="large-9 columns left">
              <h3>Drag &amp; Drop</h3>
              <p>No need to deal with FTP or complicated deployment configurations, BitBalloon makes optimized cloud deployments as easy as drag and drop.</p>
            </div>
          </div>

          <div class="row">
            <div class="large-3 columns">
              <i class="icon-globe"></i>
            </div>
            <div class="large-9 columns left">
              <h3>Custom Domains</h3>
              <p>Set custom domains for deploys.</p>
            </div>
          </div>

          <div class="row">
            <div class="large-3 columns">
              <i class="icon-user"></i>
            </div>
            <div class="large-9 columns left">
              <h3>User model Agnostic</h3>
              <p>Hook into your own user model.</p>
            </div>
          </div>

          <div class="row">
            <div class="large-3 columns">
              <i class="icon-speedometer"></i>
            </div>
            <div class="large-9 columns left">
              <h3>Web Performance</h3>
              <p>Accelerate static asset performance.</p>
            </div>
          </div>




        </div>



        <div class="large-6 columns">

          <div class="row">
            <div class="large-3 columns">
              <i class="icon-form"></i>
            </div>
            <div class="large-9 columns left">
              <h3>Process Forms</h3>
              <p>BitBalloon takes care of making your forms work. Data export, email notifications, and web hooks for API integrations will get you capturing leads in seconds.</p>
            </div>
          </div>


          <div class="row">
            <div class="large-3 columns">
              <i class="icon-inject"></i>
            </div>
            <div class="large-9 columns left">
              <h3>Inject Scripts</h3>
              <p>Integrate with your favorite 3rd party scripts with BitBalloons global script injection utility.</p>
            </div>
          </div>


          <div class="row">
            <div class="large-3 columns">
              <i class="icon-unlocked"></i>
            </div>
            <div class="large-9 columns left">
              <h3>Password Protect</h3>
              <p>Prevent prying eyes from accessing your sites by setting secure passwords.</p>
            </div>
          </div>




          <div class="row">
            <div class="large-3 columns">
              <i class="icon-versions"></i>
            </div>
            <div class="large-9 columns left">
              <h3>Versioned Deployment</h3>
              <p>BitBalloon keeps a complete version history of all your deploys so you can rollback to any of them at any time.</p>
            </div>
          </div>


        </div>
      </section>

    </div>
  </section>
</div>

{{>footer}}