{{> header }}

<div class="main features-page">
  <section class="sheet">
    <div class="row ">
      <header>
          <h1>Feature packed deployments</h1>
          <h3 class="light">Powering web publishing for businesses of all sizes</h3>
      </header>
    </div>

      <section class="feature-rows">
        <div class="row">

          <div class="large-6 columns">

            <div class="large-3 columns">
              <img src="img/cloud-upload.svg">
            </div>
            <div class="large-9 columns left">
              <h3>Drag &amp; Drop</h3>
              <p>No need to deal with FTP or complicated deployment configurations, BitBalloon makes publishing to the cloud as easy as drag & drop.</p>
            </div>

          </div>

          <div class="large-6 columns">

            <div class="large-3 columns">
              <img src="img/form.svg">
            </div>
            <div class="large-9 columns left">
              <h3>Process Forms</h3>
              <p>BitBalloon makes your forms work. Data export, email notifications, and web hooks for API integrations will get you capturing leads in seconds.</p>
            </div>

          </div>

        </div>
        <div class="row">

          <div class="large-6 columns">
            <div class="large-3 columns">
              <img src="img/versions.svg">
            </div>
            <div class="large-9 columns left">
              <h3>Versioned Deployment</h3>
              <p>BitBalloon keeps a complete version history of all your deploys so you can rollback to any of them at any time.</p>
            </div>
          </div>

          <div class="large-6 columns">
            <div class="large-3 columns">
              <img src="img/rocket.svg">
            </div>
            <div class="large-9 columns left">
              <h3>Web Performance</h3>
              <p>BitBalloon optimizes your code and images, sets perfect caching headers and pushes everything onto Akamai's CDN.</p>
            </div>
          </div>


        </div>
        <div class="row">

          <div class="large-6 columns">
            <div class="large-3 columns">
              <img src="img/globe.svg"/>
            </div>
            <div class="large-9 columns left">
              <h3>Custom Domains</h3>
              <p>Manage DNS and set custom domains for your sites.</p>
            </div>
          </div>

          <div class="large-6 columns">
            <div class="large-3 columns">
              <img src="img/user.svg"/>
            </div>
            <div class="large-9 columns left">
              <h3>User model Agnostic</h3>
              <p>Use single sign on to give your own users access to sites.</p>
            </div>
          </div>

        </div>
        <div class="row">

          <div class="large-6 columns">
            <div class="large-3 columns">
              <img src="img/inject.svg"/>
            </div>
            <div class="large-9 columns left">
              <h3>Inject Snippets</h3>
              <p>Integrate with 3rd party scripts in seconds with global snippet injection.</p>
            </div>
          </div>

          <div class="large-6 columns">
            <div class="large-3 columns">
              <img src="img/unlocked.svg"/>
            </div>
            <div class="large-9 columns left">
              <h3>Password Protect</h3>
              <p>Prevent prying eyes from accessing your sites by setting secure passwords.</p>
            </div>
          </div>

        </div>

      </section>

    </div>

    <div class="row">
      <div class="large-12 columns">
        <h2 class="text-center light">
          What are you waiting for?
        </h2>
      </div>
    </div>
    <div class="row">
      <div class="large-6 large-centered columns">
        <div class="dashed-box">
          <div class="cta">
            <div class="row">
              <div>
                <h3 class="headline text-center">Drag your <span class="folder-support">site folder</span><span class="no-folder-support">site zip</span> here</h3>
              </div>
                <i class="icon-cloud-icon redeploy-cloud"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

  </section>
</div>

{{>footer}}