{{> header }}

<section class="dropzone callout sky" id="dropzone">
  <div class="slide cta">
    <div class="row">
      <div class="large-8 columns">
        <div class="dashed-box">
          <i class="icon-cloud-icon initial cloud-icon"></i>

          <i class="icon-cloud-working-icon cloud-working-icon"></i>

          <h2 class="headline normal">Drag Your Site <span class="folder-support">Folder</span><span class="no-folder-support">Zip File</span> Here</h2>
          <div class="processing">
            <h2 class="headline">Processing Your Site</h2>
            <h4 id="processing-message"></h4>
          </div>
          <div id="drop-mask" class="mask"></div>
        </div>
      </div>
      <div class="large-4 columns sidebar">
        <div class="medium-6 large-12 columns">
          <ol class="how-to">
            <li>Drag &amp; drop <span class="folder-support">a folder with a site</span><span class="no-folder-support">a zip with a site</span></li>
            <li>We optimize &amp; deploy it</li>
            <li>Your HTML forms just work</li>
          </ol>
        </div>
        <div class="medium-6 large-12 columns">
          <div class="video-cta">
            <h3><a href="#" data-reveal-id="intro-video" title="Watch the video" class="play-button">Play video</a></h3>
            <p>Watch the video</p>
            <ul class="social-icons">
              <li><a class="popup" href="http://twitter.com/share?text=BitBalloon%3A%20Static%20hosting%20for%20the%20programmable%20web.%20http%3A%2F%2Fwww.bitballoon.com"><i class="icon-twitter-icon"></i>
                <span class="title">Tweet this<span></a></li>
              <li><a class="popup" href="http://www.facebook.com/sharer.php?u=http%3A%2F%2Fwww.bitballoon.com"><i class="icon-facebook-icon"></i>
                <span class="title">Share this</span></a></li>
              <li><a class="popup" href="https://plus.google.com/share?url=http%3A%2F%2Fwww.bitballoon.com"><i class="icon-google-plus-icon"></i>
                <span class="title">Plus this</span></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="alt-cta">
    <div class="large-10 columns large-centered">
      <i class="icon-cloud-icon cloud-icon"></i>
      <div class="">
        <h2 class="headline">Analyzing and Uploading</h2>
        <h4 id="working-message"></h4>
      </div>
    </div>
  </div>
</section>


<section class="features">
  <h2 class="text-center">Programmable Hosting for Static Assets</h2>
  <div class="row large-block-grid-3">
    <li>
      <h3><i class="icon-cloud-upload"></i> Drag & Drop</h3>
      <p>The easiest cloud deployment ever.</p>
    </li>
    <li>
      <h3><i class="icon-rocket"></i> Web Performance</h3>
      <p>Accelerate static asset performance.</p>
    </li>
    <li>
      <h3><i class="icon-form"></i> Process Forms</h3>
      <p>Make ordinary HTML forms work.</p>
    </li>
    <li>
      <h3><i class="icon-user"></i> User model Agnostic</h3>
      <p>Hook into your own user model</p>
    </li>
    <li>
      <h3><i class="icon-unlocked"></i> Password Protect</h3>
      <p>Restrict access to deployments.</p>
    </li>
    <li>
      <h3><i class="icon-inject"></i> Inject Scripts</h3>
      <p>Inject scripts for easy integrations.</p>
    </li>
    <li>
      <h3><i class="icon-versions"></i> Versioned Deployment</h3>
      <p>Instant versioning of all deployments</p>
    </li>
    <li>
      <h3><i class="icon-globe"></i> Set Domain</h3>
      <p>Set custom domains for deploys.</p>
    </li>
    <li>
      <h3><i class="icon-robot"></i> 100% Programmable</h3>
      <p>Control all these features via API!</p>
    </li>
  </div>
</section>


<section class="examples">
  <div class="row">
    <div class="large-12 columns">
      <header class="text-center">
        <h3>Try it out! Download a free template:</h3>
      </header>
    </div>
  </div>
  <div class="row">
    <div class="large-4 medium-4 columns">
      <a href="http://5c4cf848f6454dc02ec8-c49fe7e7355d384845270f4a7a0a7aa1.r53.cf2.rackcdn.com/a61b13fe-9639-4f11-a28f-1854d758015c/synergy-landing.zip" data-name="landing" target="_blank">
        <img src="/img/screenshots/landing-example.png" alt="Landing Page Example">
      </a>
      <a href="http://5c4cf848f6454dc02ec8-c49fe7e7355d384845270f4a7a0a7aa1.r53.cf2.rackcdn.com/a61b13fe-9639-4f11-a28f-1854d758015c/synergy-landing.zip" data-name="landing" target="_blank" class="secondary button hide-for-small">
        <i class="icon-download"></i> Landing Page
      </a>
    </div>
    <div class="large-4 medium-4 columns">
      <a href="http://5c4cf848f6454dc02ec8-c49fe7e7355d384845270f4a7a0a7aa1.r53.cf2.rackcdn.com/32fd8138-e8c9-411c-9361-20dccd7c4848/survey.zip" data-name="survey" target="_blank">
        <img src="/img/screenshots/survey.png" alt="Survey Example"/>
      </a>
      <a href="http://5c4cf848f6454dc02ec8-c49fe7e7355d384845270f4a7a0a7aa1.r53.cf2.rackcdn.com/32fd8138-e8c9-411c-9361-20dccd7c4848/survey.zip" data-name="survey" target="_blank" class="secondary button hide-for-small">
        <i class="icon-download"></i> Survey Template
      </a>
      </a>
    </div>
    <div class="large-4 medium-4 columns">
      <a href="http://5c4cf848f6454dc02ec8-c49fe7e7355d384845270f4a7a0a7aa1.r53.cf2.rackcdn.com/e3961adc-35d6-4b6a-8d00-6ccbe5fcc295/demo-site.zip" data-name="website" target="_blank">
        <img src="/img/screenshots/website-example.png" alt="Website Example">
      </a>
      <a href="http://5c4cf848f6454dc02ec8-c49fe7e7355d384845270f4a7a0a7aa1.r53.cf2.rackcdn.com/e3961adc-35d6-4b6a-8d00-6ccbe5fcc295/demo-site.zip" data-name="website" target="_blank" class="secondary button  hide-for-small">
        <i class="icon-download"></i> Startup Website
      </a>
    </div>
  </div>

</section>

<div id="intro-video" class="reveal-modal medium text-center">
  <div class="flex-video">
    <iframe width="640" height="360" src="//www.youtube.com/embed/ust10Bdxds8" frameborder="0" allowfullscreen></iframe>
  </div>
  <a class="close-reveal-modal">&#215;</a>
</div>

{{> footer }}






