{{> header }}

<section class="dropzone callout sky" id="dropzone">
  <div class="slide cta">
    <div class="row home-hero">
      <div class="large-8 columns">
        <h2>The complete hosting & deployment platform for static sites</h2>
        <p class="lead">BitBalloon lets you <strong>focus</strong> on creating engaging sites.<br/> We take care of the rest.</p>
      </div>
      <div class="large-4 columns">
        <div class="dashed-box">
          <i class="icon-cloud-icon initial cloud-icon"></i>

          <i class="icon-cloud-working-icon cloud-working-icon"></i>

          <h2 class="headline normal">Drag Your Site <span class="folder-support">Folder</span><span class="no-folder-support">Zip File</span> Here To Deploy It</h2>
          <div class="processing">
            <h2 class="headline">Processing Your Site</h2>
            <h4 id="processing-message"></h4>
          </div>
          <div id="drop-mask" class="mask"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="alt-cta">
    <div class="large-10 columns large-centered">
      <i class="icon-cloud-icon cloud-icon"></i>
      <div class="">
        <h2 class="headline">Analyzing and Uploading</h2>
        <h4 id="working-message"></h4>
      </div>
    </div>
  </div>
</section>


<section class="features">
  <div class="row">
    <h1 class="text-center light">Why you'll love BitBalloon</h1>
  </div>


  <div class="feature one row">
    <div class="large-3 medium-3 large-push-2 columns">
      <div class="halo">
        <div class="ripple"></div>
        <img class="lightning"src="img/lightning.svg">
      </div>
    </div>
    <div class="large-6 medium-8 large-pull-1 columns">
      <h3>It gives your site superpowers</h3>
      <p>BitBalloon will optimize your static site, make the forms work and be its trusty interface with the programmable web.</p>
    </div>
  </div>
  <div class="feature two row">
    <div class="large-3 medium-3 large-pull-1 medium-pull-1 columns right">
      <div class="halo">
        <div class="ripple"></div>
        <img class="code" src="img/code.svg">
      </div>
    </div>
    <div class="large-6 medium-8 large-push-2 columns left">
      <h3>Developer Friendly</h3>
      <p>Use our API to automate your workflow. Or use it to add web publishing component into your app!</p>
    </div>
  </div>

  <div class="feature three row">
    <div class="large-3 medium-3 large-push-2 columns">
      <div class="halo">
        <div class="ripple"></div>
        <img class="server" src="img/server.svg">
      </div>
    </div>
    <div class="large-6 medium-8 large-pull-1 columns">
      <h3>The whole stack</h3>
      <p>We automate performance best practices and CDN integration to keep sites running fast and stable from prototype to production.</p>
    </div>
  </div>
</section>

<div class="row">
  <div class="large-12 columns try-it-out">
    <h2 class="text-center light">
      Try it out!
    </h2>
    <h5 class="text-center">( Don't have a static site handy? Download this <a href="http://5c4cf848f6454dc02ec8-c49fe7e7355d384845270f4a7a0a7aa1.r53.cf2.rackcdn.com/4f1b58ae-9e79-49aa-b987-80c0da0baba0/landing%20page.zip">demo site <i class="icon-download"></i></a> )</h5>
  </div>
</div>
<div class="row">
  <div class="large-6 medium-centered large-centered columns">
    <div class="dashed-box">
      <div class="cta">
        <div class="row">
          <div>
            <h3 class="headline text-center">Drag your <span class="folder-support">site folder</span><span class="no-folder-support">site zip</span> here</h3>
          </div>
            <i class="icon-cloud-icon redeploy-cloud"></i>
        </div>
      </div>
    </div>
  </div>
</div>


<div id="intro-video" class="reveal-modal medium text-center">
  <div class="flex-video">
    <iframe width="640" height="360" src="//www.youtube.com/embed/ust10Bdxds8" frameborder="0" allowfullscreen></iframe>
  </div>
  <a class="close-reveal-modal">&#215;</a>
</div>

{{> footer }}






