{{> header }}

<section class="dropzone callout sky" id="dropzone">
  <div class="slide cta">

    <div class="cloud top-right"></div>

    <div class="row home-hero">

      <div class="large-12 columns">

        <div class="row">
          <div class="large-6  columns">
            <h2>Host stuff in seconds</h2>
            <p class="lead">BitBalloon lets you focus on creating amazing web experiences. We take care of publishing.</p>
            <a href="#" class="login-button sign-up-button">Sign Up for Free</a>
            <h3 class="signed-in-cta">You're signed in, try publishing!</p>
          </div>

          <div class="large-5 columns">

            <div class="dashed-box">
              <i class="icon-cloud-upload initial cloud-icon"></i>

              <i class="icon-cloud-working-icon cloud-working-icon"></i>

              <h2 class="headline normal">Drag Your Site <span class="folder-support">Folder</span><span class="no-folder-support">Zip File</span> Here To Publish</h2>
              <div class="processing">
                <h2 class="headline">Processing Your Site</h2>
                <h4 id="processing-message"></h4>
              </div>
              <div id="drop-mask" class="mask"></div>
            </div>

          </div>

        </div>

      </div>
    </div>
  </div>
  <div class="alt-cta">
    <div class="large-10 columns large-centered">
      <i class="icon-cloud-upload cloud-icon"></i>
      <div class="">
        <h2 class="headline">Analyzing and Uploading</h2>
        <h4 id="working-message"></h4>
      </div>
    </div>
  </div>
</section>


<section class="reasons">
  <div class="row">
    <div class="large-12 columns">
      <h1 class="light text-center">Why you'll love BitBalloon</h1>
    </div>
    <hr/>
  </div>
  <div class="row one">
    <div class="large-3 columns left">
      <i class="icon-tools"></i>
    </div>
    <div class="large-7 columns left">
      <h4>Developer Friendly</h4>
      <p>Deploy a site in one line of code with the BitBalloon Ruby client.</p>
      <pre>
        <code>~ bitballoon deploy public</code>
      </pre>

    </div>
    <hr/>
  </div>

  <div class="row">
    <div class="large-3 columns left">
      <i class="icon-rocket"></i>
    </div>
    <div class="large-7 columns left">
      <h4>Best Practices</h4>
      <p>Automatic asset optimization and CDN integration keeps your sites delivering top-tier performance from prototype to production.</p>
    </div>
    <hr/>
  </div>

  <div class="row">
    <div class="large-3 columns left">
      <i class="icon-dna"></i>
    </div>
    <div class="large-7 columns left">
      <h4>Open Infrastructure</h4>
      <p>Power the publishing component of your authoring tools with our white-label partner offerings.</p>
    </div>
    <hr/>
  </div>
</section>

<div class="row">
  <div class="large-12 columns try-it-out">
    <h2 class="text-center light">
      Try it out!
    </h2>
    <h5 class="text-center">( Don't have a static site handy? Download this <a href="http://5c4cf848f6454dc02ec8-c49fe7e7355d384845270f4a7a0a7aa1.r53.cf2.rackcdn.com/4f1b58ae-9e79-49aa-b987-80c0da0baba0/landing%20page.zip">demo site <i class="icon-download"></i></a> )</h5>
  </div>
</div>
<div class="row">
  <div class="large-8 medium-centered large-centered columns">
    <div class="dashed-box">
      <div class="cta">
        <div class="row">
          <div>
            <h3 class="headline text-center">Drag your <span class="folder-support">site folder</span><span class="no-folder-support">site zip</span> here</h3>
          </div>
            <i class="icon-cloud-upload redeploy-cloud"></i>
        </div>
      </div>
    </div>
  </div>
</div>

{{> footer }}






