{{> header }}

<div class="main partner">
  <div class="row sheet">


    <div class="large-8 columns">
      <h2>Partner with BitBalloon</h2>
      <p class="lead">Make hosting and deployment easy for your users by integrating BitBalloon infrastructure into your own app or service. We offer several levels of integration, from a simple affiliate to full-on white-label API integrations.</p>
    </div>
    <div class="large-3 push-1 columns">
      <img class="full-width" src="/img/balloon-bot.svg"/>
    </div>


    <div class="large-10 columns">

      <h3>Affiliate</h3>

      <p>This is the simplest form of partnership. It requires no custom development on your part, all you need to do is add this embed code to create a BitBalloon deployment dropzone for your audience:</p>

      <pre class="prettyprint">

&lt;a class="bb-dropzone-widget" href="https://www.bitballoon.com?af=CHANGEME"&gt;BitBalloon&lt;/a&gt; &lt;script&gt; (function(w,d) { if(!w.bb_embed) { var e = d.createElement("script"); e.async=1; e.src = "https://www.bitballoon.com/embed/script.js"; d.body.appendChild(e); } })(window, document);&lt;/script&gt;
      </pre>

      <p>Earn recurring revenue when users upgrade to Pro. <a href="#" data-reveal-id="contact">Become an affiliate.</a></p>

    </div>


    <div class="large-10 columns">

      <h3>Reseller Platform</h3>

      <p>Get a custom branded hosting platform under your own domain name to deploy sites for your users. Resellers sites can have all the same functionality as sites deployed on BitBalloon.com, but under your domain and logo in the admin tools.</p>

      <p>Let BitBalloon bill your customers and earn recurring revenue for their sites. Or you can disable billing individual users and pay a monthly bulk rate directly to BitBalloon. <a href="#" data-reveal-id="contact">Get a Quote</a></p>

      <p> Reseller integrations create a good user experience without requiring much  custom developement.</p>


    </div>

    <div class="large-10 columns left">
      <h3>API Integration</h3>
      <p>If you looking to add static site publishing into your own web service or application, a white-label, API-driven integration is the recommended option.</p>
      <p>The core of an infrastructure integration is having the BitBalloon API available under your own domain. Billing is handled as a monthly bulk rate directly to BitBalloon. Pricing depends on the situation.</p>
      <p>API Integrations let you leverage BitBalloons infrastructure while keeping in complete control of the user experience. <a href="#" data-reveal-id="contact">Speak to a BitBalloon Engineer</a>
    </div>

  </div>
</div>

{{>footer}}