{{> header }}

<div class="main pricing">
  <div class="row">

  <ul class="tiers small-block-grid-1 large-block-grid-3">
    <li class="one">
      <a href="/">
        <div class="image-container">
          <img src="img/balloon.svg">
        </div>
        <h2 class="text-center">Free</h2>
        <p class="description">Hosting on a bitballoon.com subdomain</p>
        <a href="/" class="button">Deploy now!</a>
      </a>
    </li>
    <li class="two">
      <a href="/">
        <div class="image-container">
          <img src="img/power-balloon.svg">
        </div>
        <h2 class="text-center">Pro</h2>
        <p class="description">Hosting on your own domain starts at $5/month</p>
        <a href="/" class="button">Upgrade</a>
      </a>
    </li>
    <li class="three">
      <a href="/partner">
        <div class="image-container">
          <img src="img/business-balloons.svg">
        </div>
        <h2 class="text-center">Business</h2>
        <p class="description">Your own hosting and deployment infrastructure.</p>
        <a href="/partner" class="button">Request a Demo</a>
      </a>
    </li>
  </ul>


{{ >footer }}