{{> header }}



<section class="dropzone callout sky" id="dropzone">

  <div class="slide cta">
    <div class="row">
      <div class="large-12 columns">
        <h2>You should be 100% satisfied before you enter your credit card</h2>
      </div>
      <div class="large-8 columns">
        <div class="dashed-box">
          <i class="icon-cloud-icon initial cloud-icon"></i>

          <i class="icon-cloud-working-icon cloud-working-icon"></i>

          <h2 class="headline normal">Drag Your Site <span class="folder-support">Folder</span><span class="no-folder-support">Zip File</span> Here</h2>
          <div class="processing">
            <h2 class="headline">Processing Your Site</h2>
            <h4 id="processing-message"></h4>
          </div>
          <div id="drop-mask" class="mask"></div>
        </div>
      </div>


      </div>
    </div>
  </div>
  <div class="alt-cta">
    <div class="large-10 columns large-centered">
      <i class="icon-cloud-icon cloud-icon"></i>
      <div class="">
        <h2 class="headline">Analyzing and Uploading</h2>
        <h4 id="working-message"></h4>
      </div>
    </div>
  </div>
</section>



{{ >footer }}