{{> header }}


<section class="upgrade">
  <div class="row">
    <div class="large-12 columns">
      <h2 class="text-center">Be 100% satisfied before you upgrade!</h2>
      <div class="large-6 columns large-centered upgrade-column">

        <div class="row">
          <p>Deploy your site & make sure it performs the way you like. Upgrade once you're ready to set up a custom domain.</p>

          <p class="pro-pricing text-center">Host a Pro site for $7.00 a month or $60.00 a year</p>

          <p class="save text-center"><span>Save 29% with annual billing!</span></p>

        </div>

        <div class="row">
          <div class="dashed-box">
            <div class="cta">
              <div class="row">
                <div>
                  <h3 class="headline text-center">Drag your <span class="folder-support">site folder</span><span class="no-folder-support">site zip</span> here</h3>
                </div>
                  <i class="icon-cloud-icon redeploy-cloud"></i>
              </div>
            </div>
          </div>

          <p class="text-center">Looking to deploy a large volume of sites?<br/> Get in touch about <a href="#business-pricing" data-reveal-id="business-pricing" >business pricing.</a></p>

        </div>




  <div id="business-pricing" class="reveal-modal small">
    <div class="row">

      <div class="large-12 columns">
        <h4>Request a Business Pricing Quote</h4>
      </div>

      <form name="request business pricing">
        <div class="large-6 columns">
          <p>
            <label>Name</label>
            <input name="name" type="text" required>
          </p>
        </div>
        <div class="large-6 columns">
          <p>
            <label>Email</label>
            <input name="email" type="email" required>
          </p>
        </div>
        <div class="large-6 columns">
          <p>
            <label>Company</label>
            <input name="company" type="text" required>
          </p>
        </div>

        <div class="large-6 columns">
          <p>
            <label>Phone</label>
            <input name="phone" type="tel" pattern='[\+]\d{2}[\(]\d{2}[\)]\d{4}[\-]\d{4}' >
          </p>
        </div>

        <div class="large-12 columns">
          <p>
            <label>Please tell us a bit about the volume and type of sites you're looking to host with Bitballoon.</label>
            <textarea name="message" rows="10" required></textarea>
          </p>
        </div>
        <div class="large-6 large-centered columns">
          <button class="radius button expand" type="submit">Send</button>
        </div>
    </form>
    <a class="close-reveal-modal">&#215;</a>

    </div>
      </div>



      </div>
    </div>
  </div>

</section>



{{ >footer }}