{{> header }}

<div class="main">
  <div class="row  sheet">
    <div class="large-3 columns">
      <ul class="docs-nav">
        <li class="{{#current}}/docs{{/current}}"><a href="/docs">Getting Started</a></li>
        <li class="{{#current}}/docs/basics{{/current}}"><a href="/docs/basics">The Basics</a></li>
        <li class="{{#current}}/docs/zapier{{/current}}"><a href="/docs/zapier">Zapier</a></li>
        <li class="{{#current}}/docs/api{{/current}}"><a href="/docs/api">API Reference <i class="icon-external-link"></i></a></li>
        <li class="{{#current}}/docs/ruby{{/current}}"><a href="/docs/ruby">Ruby Client</a></li>
      </ul>
    </div>

    <div class="docs-main large-9 columns">
      {{{content}}}
    </div>

  </div>
</div>

{{> footer }}

