{{> header }}

<div class="main">
  <div class="row  sheet">
    <div class="large-3 columns">
      <ul class="docs-nav">
        <li><a href="/docs">Getting Started</a></li>
        <li><a href="/docs/basics">The Basics</a></li>
        <li><a href="/docs/zapier">Zapier</a></li>
        <li><a href="/docs/api">API Reference <i class="icon-external-link-icon"></i></a></li>
        <li><a href="/docs/ruby">Ruby Client</a></li>
      </ul>
    </div>

    <div class="docs-main large-9 columns">
      {{{content}}}
    </div>

  </div>
</div>

{{> footer }}

<script type="text/javascript">
var str=location.href.toLowerCase();

$('.docs-nav li a').each(function() {
  if (str.indexOf(this.href.toLowerCase()) > -1) {
    $("li.active").removeClass("active");
    $(this).parent().addClass("active");
  }
});

</script>
