<!DOCTYPE HTML>
<html>
  <head>
    <title>BitBalloon API</title>
        {{#stylesheet_bundle}}/css/all.css{{/stylesheet_bundle}}
  </head>
  <body class="api" >
    <script>
    (function() { var i = document.createElement("input"); i.setAttribute("type", "file"); if (i.webkitEntries) { document.body.classList.add("folder-support"); }
    })();
    </script>
    <header>

      <h1 class="brand">
        <a href="/"><img class="logo" src="/img/bitballoon-logo.svg" alt="BitBalloon logo"/></a>
        <div class="claim">API Reference</div>
      </h1>

    </header>

    <section>

      <div class="large-2 small-3 columns side-menu" data-magellan-expedition="fixed">

        <ul >
          <li><a data-magellan-arrival="introduction" href="#introduction">Introduction</a></li>
          <li><a data-magellan-arrival="authentication" href="#authentication">Authentication</a></li>
          <li><a data-magellan-arrival="requests" href="#requests">Requests</a></li>
          <li><a data-magellan-arrival="endpoints" href="#endpoints">Endpoints</a></li>
          <li><a data-magellan-arrival="rate-limiting" href="#rate-limiting">Rate Limiting</a></li>
          <li><a data-magellan-arrival="pagination" href="#pagination">Pagination</a></li>
          <li>
            <a data-magellan-arrival="sites" href="#sites">Sites</a>
            <ul>
              <li><a data-magellan-arrival="get-sites" href="#get-sites">Get Sites</a></li>
              <li><a data-magellan-arrival="get-site" href="#get-site">Get Site</a></li>
              <li><a data-magellan-arrival="create-site" href="#create-site">Create Site</a></i>
              <li><a data-magellan-arrival="post-a-zip" href="#post-a-zip">Post a Zip</a></li>
              <li><a data-magellan-arrival="post-a-list" href="#post-a-list">Post a List</a></i>
              <li><a data-magellan-arrival="update-site" href="#update-site">Update Site</a></li>
              <li><a data-magellan-arrival="destroy-site" href="#destroy-site">Destroy Site</a></li>
            </ul>
          </li>
          <li><a data-magellan-arrival="forms" href="#forms">Forms</a></li>
          <li><a data-magellan-arrival="submissions" href="#submissions">Submissions</a></li>
          <li>
            <a data-magellan-arrival="files" href="#files">Files</a>
            <ul>
              <li><a data-magellan-arrival="get-files" href="#get-files">Get Files</a></li>
              <li><a data-magellan-arrival="get-file" href="#get-file">Get File</a></li>
              <li><a data-magellan-arrival="put-file" href="#put-file">Put File</a></li>
              <li><a data-magellan-arrival="delete-file" href="#delete-file">Delete File</a></li>
            </ul>
          </li>
          <li>
            <a data-magellan-arrival="snippets" href="#snippets">Snippets</a>
            <ul>
              <li><a data-magellan-arrival="get-snippets" href="#get-snippets">Get Snippets</a></li>
              <li><a data-magellan-arrival="get-snippet" href="#get-snippet">Get Snippet</a></li>
              <li><a data-magellan-arrival="add-snippet" href="#add-snippet">Add Snippet</a></li>
              <li><a data-magellan-arrival="update-snippet" href="#update-snippet">Update Snippet</a></li>
              <li><a data-magellan-arrival="delete-snippet" href="#delete-snippet">Delete Snippet</a></li>
            </ul>
          </li>
          <li><a data-magellan-arrival="metadata" href="#metadata">Metadata</a></li>
          <li><a data-magellan-arrival="deploys" href="#deploys">Deploys</a></li>
          <li><a data-magellan-arrival="users" href="#users">Users</a></li>
        </ul>

      </div>

      <div class="large-10 small-9 columns main-docs">

        <span data-magellan-destination="introduction"></span>
        <div class="row">
          <a name="introduction"></a>
          <div class="large-12 columns">
            {{{ introduction }}}
          </div>
        </div>

        <span data-magellan-destination="authentication"></span>
        <div class="row">
          <a name="authentication"></a>
          <div class="large-12 columns">
            {{{ authentication }}}
          </div>
        </div>

        <span data-magellan-destination="requests"></span>
        <div class="row">
          <a name="requests"></a>
          <div class="large-12 columns">
            {{{ requests }}}
          </div>
        </div>

        <span data-magellan-destination="endpoints"></span>
        <div class="row">
          <a name="endpoints"></a>
          <div class="large-12 columns">
            {{{ endpoints }}}
          </div>
        </div>


        <span data-magellan-destination="rate-limiting"></span>
        <div class="row">
          <a name="rate-limiting"></a>
          <div class="large-12 columns">
            {{{ rate-limiting }}}
          </div>
        </div>

        <span data-magellan-destination="pagination"></span>
        <div class="row">
          <a name="pagination"></a>
          <div class="large-12 columns">
            {{{ pagination }}}
          </div>
        </div>

        <span data-magellan-destination="sites"></span>
        <div class="row">
          <a name="sites"></a>
          <div class="large-12 columns">
            {{{ sites }}}
          </div>
        </div>

        <span data-magellan-destination="forms"></span>
        <div class="row">
          <a name="forms"></a>
          <div class="large-12 columns">
            {{{ forms }}}
          </div>
        </div>

        <span data-magellan-destination="submissions"></span>
        <div class="row">
          <a name="submissions"></a>
          <div class="large-12 columns">
            {{{ submissions }}}
          </div>
        </div>


        <span data-magellan-destination="files"></span>
        <div class="row">
          <a name="files"></a>
          <div class="large-12 columns">
            {{{ files }}}
          </div>
        </div>

        <span data-magellan-destination="snippets"></span>
        <div class="row">
          <a name="snippets"></a>
          <div class="large-12 columns">
            {{{ snippets }}}
          </div>
        </div>


        <span data-magellan-destination="metadata"></span>
        <div class="row">
          <a name="metadata"></a>
          <div class="large-12 columns">
            {{{ metadata }}}
          </div>
        </div>


        <span data-magellan-destination="deploys"></span>
        <div class="row">
          <a name="deploys"></a>
          <div class="large-12 columns">
            {{{ deploys }}}
          </div>
        </div>

        <span data-magellan-destination="users"></span>
        <div class="row">
          <a name="users"></a>
          <div class="large-12 columns">
            {{{ users }}}
          </div>
        </div>

      </div>

    </section>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>

    {{#javascript_bundle}}/js/all.js{{/javascript_bundle}}

    <script>$(document).foundation();</script>
  </body>
</html>