<!DOCTYPE HTML>
<html>
  <head>
    <title>BitBalloon API</title>
        {{#stylesheet_bundle}}/css/all.css{{/stylesheet_bundle}}
  </head>
  <body class="api" >
    <script>
    (function() { var i = document.createElement("input"); i.setAttribute("type", "file"); if (i.webkitEntries) { document.body.classList.add("folder-support"); }
    })();
    </script>
    <header>

      <h1 class="brand">
        <a href="/"><img class="logo" src="/img/bitballoon-logo.svg" alt="BitBalloon logo"/></a>
        <div class="claim">API Reference</div>
      </h1>

    </header>

    <section>

      <div class="large-2 small-3 columns side-menu" data-magellan-expedition="fixed">

        <ul >
          <li><a href="#introduction">Introduction</a></li>
          <li><a href="#authentication">Authentication</a></li>
          <li><a href="#requests">Requests</a></li>
          <li><a href="#endpoints">Endpoints</a></li>
          <li><a href="#rate-limiting">Rate Limiting</a></li>
          <li><a href="#pagination">Pagination</a></li>
          <li>
            <a href="#sites">Sites</a>
            <ul>
              <li><a href="#get-sites">Get Sites</a></li>
              <li><a href="#get-site">Get Site</a></li>
              <li><a href="#create-site">Create Site</a></i>
              <li><a href="#post-a-zip">Post a Zip</a></li>
              <li><a href="#post-a-list">Post a List</a></i>
              <li><a href="#update-site">Update Site</a></li>
              <li><a href="#destroy-site">Destroy Site</a></li>
            </ul>
          </li>
          <li><a href="#forms">Forms</a></li>
          <li><a href="#submissions">Submissions</a></li>
          <li>
            <a href="#files">Files</a>
            <ul>
              <li><a href="#get-files">Get Files</a></li>
              <li><a href="#get-file">Get File</a></li>
              <li><a href="#put-file">Put File</a></li>
              <li><a href="#delete-file">Delete File</a></li>
            </ul>
          </li>
          <li>
            <a href="#snippets">Snippets</a>
            <ul>
              <li><a href="#get-snippets">Get Snippets</a></li>
              <li><a href="#get-snippet">Get Snippet</a></li>
              <li><a href="#add-snippet">Add Snippet</a></li>
              <li><a href="#update-snippet">Update Snippet</a></li>
              <li><a href="#delete-snippet">Delete Snippet</a></li>
            </ul>
          </li>
          <li><a href="#metadata">Metadata</a></li>
          <li><a href="#deploys">Deploys</a></li>
          <li><a href="#users">Users</a></li>
        </ul>

      </div>

      <div class="large-10 small-9 columns main-docs">

        <div class="row">
          <a name="introduction"></a>
          <div class="large-12 columns">
            {{{ introduction }}}
          </div>
        </div>

        <div class="row">
          <a name="authentication"></a>
          <div class="large-12 columns">
            {{{ authentication }}}
          </div>
        </div>

        <div class="row">
          <a name="requests"></a>
          <div class="large-12 columns">
            {{{ requests }}}
          </div>
        </div>

        <div class="row">
          <a name="endpoints"></a>
          <div class="large-12 columns">
            {{{ endpoints }}}
          </div>
        </div>


        <div class="row">
          <a name="rate-limiting"></a>
          <div class="large-12 columns">
            {{{ rate-limiting }}}
          </div>
        </div>

        <div class="row">
          <a name="pagination"></a>
          <div class="large-12 columns">
            {{{ pagination }}}
          </div>
        </div>

        <div class="row">
          <a name="sites"></a>
          <div class="large-12 columns">
            {{{ sites }}}
          </div>
        </div>

        <div class="row">
          <a name="forms"></a>
          <div class="large-12 columns">
            {{{ forms }}}
          </div>
        </div>

        <div class="row">
          <a name="submissions"></a>
          <div class="large-12 columns">
            {{{ submissions }}}
          </div>
        </div>

        <div class="row">
          <a name="files"></a>
          <div class="large-12 columns">
            {{{ files }}}
          </div>
        </div>

        <div class="row">
          <a name="snippets"></a>
          <div class="large-12 columns">
            {{{ snippets }}}
          </div>
        </div>


        <div class="row">
          <a name="metadata"></a>
          <div class="large-12 columns">
            {{{ metadata }}}
          </div>
        </div>


        <div class="row">
          <a name="deploys"></a>
          <div class="large-12 columns">
            {{{ deploys }}}
          </div>
        </div>

        <div class="row">
          <a name="users"></a>
          <div class="large-12 columns">
            {{{ users }}}
          </div>
        </div>

      </div>

    </section>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>

    {{#javascript_bundle}}/js/all.js{{/javascript_bundle}}

    <script>$(document).foundation();</script>
  </body>
</html>